.foto-box {
    position: relative;
    top: 75px;
    left: 200px;
}

.foto-box img {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

.nama {
    width: 600px;
    height: 100px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: -120px;
    left: 450px;
    color: black;
    font-size: 25px;
}

.gmail-anggi {
    width: 400px;
    position: relative;
    top: -170px;
    left: 500px;
    font-size: 10px;
    color: black;
    font-family: "Open Sans", sans-serif;
}

.no-anggi {
    width: 400px;
    position: relative;
    top: -170px;
    left: 500px;
    font-size: 10px;
    color: black;
    font-family: "Open Sans", sans-serif;
}

.gambar-telepon {
    position: absolute;
    top: 195px;
    left: 470px;
}

.gambar-telepon img {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #333;
}

.gambar-gmail {
    position: absolute;
    top: 167px;
    left: 470px;
}

.gambar-gmail img {
    width: 15x;
    height: 15px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #333;
}

.biodata {
    width: 900px;                
    border-radius: 10px;       
    padding: 15px;    
    position: relative;         
    top: -100px;          
    left: 200px;      
    font-family:"arial",sans-serif;   
}

.biodata h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: left;
    font-family:"arial",sans-serif;
}

.biodata-table {
    width: 110%;
    font-size: 20px;
}

.biodata-table td {
    padding: 5px 0;
}

.pendidikan {
    width: 900px;                
    border-radius: 10px;       
    padding: 15px;    
    position: relative;         
    top: -100px;          
    left: 200px;      
    font-family: "Open Sans", sans-serif;
}

.pendidikan h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: left;
    font-family:"Open Sans", sans-serif;
}

.pendidikan-table {
    width: 110%;
    font-size: 20px;
}

.pendidikan-table td {
    padding: 5px 0;
}

.hobi {
    width: 900px;                
    border-radius: 10px;       
    padding: 15px;    
    position: relative;         
    top: -100px;          
    left: 200px;      
    font-family: "Open Sans", sans-serif;
}

.hobi h2 {
    margin-top: 0;
    font-size: 23px;
    text-align: left;
    font-family:"Open Sans", sans-serif;
}

.hobi-table {
    width: 110%;
    font-size: 20px;
}

.hobi-table td {
    padding: 5px 0;
}